<div id="TabContratacao" class="tab-pane">
    <div class="form-edit">

        <legend>
            <h5 class="cor_titulos"><strong><span class="glyphicon glyphicon-user"></span>&nbsp;Dados da Contratação</strong></h5>
        </legend>

        <div class="container-fluid" id="cnt_DocumentosRG">
            <div class="row" id="docRG">
                <div class="form-group col-md-2">
                    <label class="control-label" for="DtAdimissao">Data de Admissão</label>
                    <input id="DtAdimissao" class="form-control" name="DtAdimissao" placeholder="dd/mm/aaaa" type="text" />
                </div>
                <div class="form-group  col-md-5">
                    <label class="control-label" for="Cargo">Cargo</label>
                    <input id="Cargo" class="form-control" name="Cargo" placeholder="Cargo do funcionario" type="text" />
                </div>
                <div class="form-group  col-md-3">
                    <label class="control-label " for="Area">Area</label>
                    <input id="Area" class="form-control" name="Area" placeholder="Area de alocação" type="text" />
                </div>

                <div class="form-group col-md-2">
                    <label class="control-label" for="DtDemissao">Data de Demissão</label>
                    <input id="DtDemissao" class="form-control" name="DtDemissao" placeholder="dd/mm/aaaa" type="text" />
                </div>

            </div>

            <div class="row" id="rowPerfil">
                <div class="form-group col-md-3">
                    <label class="control-label" for="Salario">Salário</label>
                    <input id="Salario" class="form-control" name="Salario" placeholder="Salario do funcionario" type="text" />
                </div>

                <div class="control-group col-md-3">
                    <label class="control-label" for="perfil">Perfil</label>
                    <div class="Controls">
                        <label class="radio-inline"><input type="radio" value="Junior" name="perfil" checked="checked" />Junior</label>
                        <label class="radio-inline"><input type="radio" value="Pleno" name="perfil" />Pleno</label>
                        <label class="radio-inline"><input type="radio" value="Senhior" name="perfil" />Senior</label>
                    </div>
                 </div>
                </div>

                <div class="row" id="rowAtivo">
                    <div class="form-group col-md-2">
                          <div class="checkbox"><label><input type="checkbox"> Ativo</label></div>
                    </div>
                </div>
            

            <div class="row" id="Div3">
                <div class="form-group col-md-3">
                    <label class="control-label" for="EstadoCivil">Estado Civil</label>
                    <input id="EstadoCivil" class="form-control" name="EstadoCivil" placeholder="Estado Civil" type="text" />
                </div>
                <div class="form-group  col-md-5">
                    <label class="control-label" for="Naturalidade">Naturalidade</label>
                    <input id="Naturalidade" class="form-control" name="Naturalidade" placeholder="Local de nascimento" type="text" />
                </div>
                <div class="form-group  col-md-4">
                    <label class="control-label " for="QtdDependentes">Dependentes</label>
                    <input id="QtdDependentes" class="form-control" name="QtdDependentes" placeholder="Qtd de Dependentes" type="text" />
                </div>

                
            </div>


                   </div>
    </div>
</div>

